/************************* AFFICHER LIEU **********************/
.affLieu {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    align-content:center;
}

/*Taille de la map*/
#map {
    float: left;
    height: 400px;
    width: 400px; /*largeur*/
}

/************************* LISTE LIEUX VILLES SITES **********************/
.listeLieux .scroller th{
    color: #ffc800;
    font-size: 1.2em;
}
.listeLieux h1{
    padding: 50px 0;
}
