/***************************** CREER SORTIE ********************************/
#bodyCreerSortie h1{
    padding: 50px;
}
#bodyCreerSortie h1:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.20);
    color: #ffc800;
}
.buttonCreer{
    background-color: #ffc800;
    border-radius: 10px;
    width: 150px;
    height: 45px;
    margin-top: 10px;
}
.buttonCreer:hover{
    background-color: white;
    color: #5eb5e0;
    transition: 0.3s ease-in-out;
    transform: scale(1.06);
}
.labelForm{
    font-size: 1.2em;
}
#descriptionSortie{
    height: 150px;
    margin-bottom: 10px;
    padding: 0 200px;
}
#labelDescription{
    color: #ffc800;
    font-size: 1.2em;
    font-weight: bold;
}
#formulaireSortie{
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    align-content:center;
}
.CreerSortie{
    display: flex;
    flex-direction: row;
    align-content:center;
}
.labelInfosSortie{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #ffc800;
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
    margin: 15px 15px;

}
.donneesInfosSortie{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
    margin: 15px 15px;
    width: 300px;
}

/************************* AFFICHER SORTIES **********************/
.affSortie {
    margin: 80px auto;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    align-content:center;
}
