/***************************** CREER SORTIE ********************************/
#bodyCreerSortie{
    min-height: 90vh;
    background-color: black;
    color: #5eb5e0;
    opacity: 0.85;
    margin: -20px 0 0 0;
}
#bodyCreerSortie h1{
    padding: 50px;
}
#bodyCreerSortie h1:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.20);
    color: #ffc800;
}
.buttonCreer{
    background-color: #ffc800;
    border-radius: 10px;
    width: 150px;
    height: 45px;
    margin-top: 10px;
}
.buttonCreer:hover{
    background-color: white;
    color: #5eb5e0;
    transition: 0.3s ease-in-out;
    transform: scale(1.06);
}
.creerSortieLigne{
    margin: 30px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.labelForm{
    font-size: 1.2em;
}
.ligneSortie{
    display: flex;
    margin: 0 70px;
    justify-content: right;
}
#descriptionSortie{
    height: 150px;
    margin-bottom: 20px;
    padding: 0 200px;
}
#formCreerSortie{
    margin-top: 50px;
}


/************************* AFFICHER SORTIES **********************/
.affSortie {

    margin: 80px auto;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    align-content:center;
}
#labelInfos{
    color: #ffc800;
    font-weight: bold;
    margin-left: 30%;
    font-size: 1.3em;
    text-align: right;
}
#donneesInfos{
    text-align: left;
    margin-right: 30%;
    font-size: 1.3em;
}